<template>
  <div class="add-new">
    <div class="add-new__icon">
      <img src="@/assets/icons/plus.svg" alt="">
    </div>
  </div>
</template>

<style lang="scss" scoped>
.add-new {
  background: #353334;
  border-radius: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  cursor: pointer;

  &__icon {
    width: 59px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  &:hover {
    transform: scale(1.02);
    background: #423f41;
    transition: .3s;
  }
}
</style>