<template>
  <div class="heading">
    <div class="heading__branding">
      <img src="@/assets/logo.svg" alt="" />
    </div>
    <div class="heading__sub-branding">
      <img src="@/assets/logo_alt.svg" alt="" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 58px;
  padding-right: 58px;
  position: relative;

  &:after {
    content: '';
    width: calc(100% - 359px);
    height: 1px;
    position: absolute;
    right: -17px;
    top: calc(50% - 3px);
    transform: translateY(-50%);
    background: rgba(255, 255, 255, .5);
  }

  &__branding,
  &__sub-branding {
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__branding {
    width: 263px;
  }

  &__sub-branding {
    width: 110px;
  }
}
</style>
