<template>
  <div class="mixer">
    <div class="mixer__top" :class="{ 'mixer--muted': muted }">
      <div class="mixer__meter" ref="audioMeter"></div>
      <div class="mixer__volume" ref="audioVolume">
        <div class="mixer__volume__bar"></div>
        <div
          class="mixer__volume__knob"
          ref="audioVolumeKnob"
          :style="{ bottom: `calc(${audioVolumeKnobPosition}% - 10px)` }"
        ></div>
      </div>
      <audio
        :src="audioURL"
        ref="audioPlayer"
        :muted="muted"
        loop
        @play="handleAudioPlay()"
      ></audio>
    </div>
    <div class="mixer__bottom">
      <div class="mixer__button-row">
        <div
          class="mixer__button mixer__button--mute"
          :class="{ 'mixer__button--active': muted, 'mixer--muted': muted }"
          @click="mute()"
        >
          <div class="mixer__button__icon">
            <img src="@/assets/icons/mute.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="mixer__button-row" :class="{ 'mixer--muted': muted }">
        <div
          class="mixer__button mixer__button--play"
          :class="{ 'mixer__button--active': playing }"
          @click="playing ? stop() : play()"
        >
          <div class="mixer__button__icon">
            <img src="@/assets/icons/play.svg" alt="" />
          </div>
        </div>
        <div
          class="mixer__button mixer__button--rec"
          :class="{ 'mixer__button--active': recording }"
          @click="recording ? stopRecord() : startRecord()"
        >
          <div class="mixer__button__icon">
            <img src="@/assets/icons/rec.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="mixer__button-row" :class="{ 'mixer--muted': muted }">
        <div
          class="mixer__button mixer__button--full mixer__button--delete"
          @click="$emit('remove')"
        >
          <div class="mixer__button__icon">
            <img src="@/assets/icons/delete.svg" alt="" />
          </div>
        </div>
        <div
          class="mixer__button mixer__button--full mixer__button--delete"
          @click="clear()"
        >
          <div class="mixer__button__icon">
            <img src="@/assets/icons/trash.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const webAudioPeakMeter = require('@/plugins/audioMeter')
import interact from 'interactjs'

export default {
  data: () => ({
    // UI Related
    recording: false,
    playing: false,
    muted: false,
    // Web Audio Related
    mediaRecorder: null,
    chunks: [],
    stream: null,
    audioURL: null,
    // Audio Meter
    audioCtx: null,
    meterNode: null,
    // Audio Volume
    audioVolume: 1,
    audioVolumeKnobPosition: null,
  }),
  watch: {
    audioURL(newVal) {
      if (newVal) {
        // this.$refs.audioPlayer.load()
        // Audio Meter
        // console.log(this.$refs)
      }
    },
  },
  methods: {
    startRecord() {
      if (this.playing) {
        this.stop()
      }

      this.clear()
      this.recording = true
      this.mediaRecorder.start()
    },
    stopRecord() {
      this.recording = false
      this.mediaRecorder.stop()
    },
    play() {
      this.playing = true
      let audioPlayer = this.$refs.audioPlayer
      audioPlayer.play()
    },
    stop() {
      this.playing = false
      let audioPlayer = this.$refs.audioPlayer
      audioPlayer.pause()
      audioPlayer.currentTime = 0
    },
    mute() {
      this.muted = !this.muted
      this.$refs.audioPlayer.muted = this.muted
    },
    clear() {
      if (this.mediaRecorder.state === 'recording') {
        this.mediaRecorder = null
        this.prepare()
      }
      // clear leftover audio
      let audioPlayer = this.$refs.audioPlayer
      audioPlayer.src = ''
      // clear UI state
      this.recording = false
      this.playing = false
      // clear mediaRecorder elements
      this.chunks = []
      this.audioURL = null
      this.recording = false
      // clear audio meter
      this.audioCtx = null
      this.meterNode = null
    },
    handleDataAvailable(e) {
      console.log(e.data)
      let newChunks = [...this.chunks, e.data]
      this.chunks = newChunks
      let blob = new Blob(newChunks, { type: 'audio/ogg; codecs=opus' })
      this.audioURL = window.URL.createObjectURL(blob)
    },
    async prepare() {
      try {
        // Media Recorder
        let mediaRecorder = new MediaRecorder(this.stream)
        this.mediaRecorder = mediaRecorder
        this.mediaRecorder.ondataavailable = this.handleDataAvailable

        let audioPlayer = this.$refs.audioPlayer
        let audioMeter = this.$refs.audioMeter
        this.audioCtx = new window.AudioContext()
        let sourceNode = this.audioCtx.createMediaElementSource(audioPlayer)
        sourceNode.connect(this.audioCtx.destination)
        this.meterNode = webAudioPeakMeter.createMeterNode(
          sourceNode,
          this.audioCtx
          // {
          //   borderSize: 20,
          //   gradient: ['red 1%', 'red 16%', 'red 45%', 'red 100%'],
          // }
        )
        webAudioPeakMeter.createMeter(audioMeter, this.meterNode, {
          borderSize: 10,
          // gradient: ['red 1%', 'red 16%', 'red 45%', 'red 100%'],
          backgroundColor: '#272727',
          // dbTickSize: 2,
        })

        this.$refs.audioPlayer.volume = this.audioVolume
        this.audioVolumeKnobPosition = this.audioVolume * 100
      } catch (err) {
        console.log(err)
      }
    },
    handleAudioPlay() {
      // this.audioCtx.resume()
    },
    handleAudioVolume(e) {
      let audioVolumePosition = this.$refs.audioVolume.getBoundingClientRect()
      let newPosition = e.client.y
      let volumeHeight = audioVolumePosition.height
      let start = audioVolumePosition.y
      let end = start + audioVolumePosition.height

      console.log(start, end, volumeHeight)

      if (newPosition > end) {
        // This is the lowest volume
        this.audioVolumeKnobPosition = 0
        this.audioVolume = 0
        this.$refs.audioPlayer.volume = this.audioVolume
      } else if (newPosition <= start) {
        // This is max volume
        this.audioVolumeKnobPosition = 100
        this.audioVolume = 1
        this.$refs.audioPlayer.volume = this.audioVolume
      } else {
        let newVolume = ((volumeHeight - (newPosition - start)) / volumeHeight)
        this.audioVolumeKnobPosition = newVolume * 100
        this.audioVolume = newVolume
        this.$refs.audioPlayer.volume = this.audioVolume
      }
    },
  },
  async mounted() {
    // getting permissions from user then store it in stream
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      try {
        let stream = await navigator.mediaDevices.getUserMedia({
          audio: true,
        })

        this.stream = stream
        this.prepare()

        interact(this.$refs.audioVolumeKnob).draggable({
          listeners: {
            move: this.handleAudioVolume,
          },
        })
      } catch (err) {
        console.warn('The following getUserMedia error occurred: ' + err)
      }
    } else {
      console.warn('getUserMedia not supported on your browser!')
    }
  },
}
</script>

<style lang="scss" scoped>
.mixer {
  padding: 24px 16px;
  border-right: 3px solid #353334;
  height: 100%;
  display: flex;
  flex-direction: column;

  &--muted {
    opacity: 0.3;
    pointer-events: none;
  }

  &__top {
    flex: 1;
    position: relative;
  }

  &__meter {
    position: absolute;
    width: 80px;
    height: calc(100% - 48px);
    // top: 50%;
    left: 50%;
    bottom: 48px;
    transform: translateX(calc(-50% - 24px));
  }

  &__volume {
    position: absolute;
    bottom: 58px;
    left: 50%;
    transform: translateX(calc(-50% + 24px));

    &__bar {
      width: 9px;
      height: 150px;
      border-radius: 18px;
      background: #464646;
      // position: absolute;
      top: 0;
    }

    &__knob {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
    }
  }

  &__button {
    padding: 7px 22px;
    border-radius: 7px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    > span {
      margin-right: 8px;
    }

    &--mute {
      background: #f3f3f3;
      opacity: 0.7;
      transition: 0.3s;

      &:hover {
        opacity: 1;
        transition: 0.3s;
      }

      &.mixer--muted {
        opacity: 1;
        pointer-events: all;
      }
    }

    &--play {
      background: #70ff00;

      &.mixer__button--active {
        box-shadow: 0px 8px 24px rgba(112, 255, 0, 0.5);
      }
    }

    &--rec {
      background: #ff007a;

      &.mixer__button--active {
        box-shadow: 0px 8px 24px rgba(#ff007a, 0.5);
      }
    }

    &--delete {
      background: transparent;
      border-color: rgba(255, 255, 255, 0.12);
      transition: 0.3s;

      > span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        font-weight: 500;
      }

      &:hover {
        border-color: rgba(255, 255, 255, 0.3);
        transition: 0.3s;
      }
    }

    &-row {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -4px;
      margin-right: -4px;

      > div {
        // flex: 1;
        margin-left: 4px;
        margin-right: 4px;
      }
    }

    &__icon {
      width: 17px;
      height: auto;
      line-height: 0;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
</style>
