<template>
  <div class="layout">
    <section class="layout__heading">
      <Heading />
    </section>

    <div class="layout__panel">
      <div>
        <div class="layout__panel__column" v-for="(val, i) in tracks" :key="val">
          <Mixer @remove="tracks.splice(i, 1)" />
        </div>
        <div class="layout__panel__column layout__panel__column--add">
          <AddNewMixer @click.native="tracks.push(`tracks_${Date.now()}`)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Heading from '@/components/Heading'
import Mixer from '@/components/Mixer'
import AddNewMixer from '@/components/AddNewMixer'

export default {
  components: {
    Heading,
    Mixer,
    AddNewMixer,
  },
  data: () => ({
    tracks: [],
  }),
  mounted() {

  }
}
</script>

<style lang="scss" scoped>
.layout {
  padding-top: 48px;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  height: 100vh;

  &__heading {
    flex: 0 0 86px;
  }

  &__panel {
    flex: 1;
    border-radius: 48px 48px 0px 0px;
    position: relative;
    background: #272727;

    > div {
      display: flex;
      position: relative;
      z-index: 1;
      background: #272727;
      height: 100%;
      overflow-x: scroll;
      border-radius: 48px 48px 0px 0px;
    }

    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 14px);
      height: calc(100% + 7px);
      left: -7px;
      top: -7px;
      border-radius: 56px 56px 0px 0px;
      background: linear-gradient(to bottom, #542A95, #7335D1);
    }

    &__column {
      flex: 0 0 176px;

      &--add {
        padding: 24px;
      }
    }
  }
}
</style>
